body{
    margin: 0;
}

#firstLottie{
    background-color: #1F1F1F;
}

.bottom{
  background-color: #1F1F1F;
  height: 100vh;
}

.bottom2{
  background-color: #1F1F1F;
  height: 30vh;
}

.site{
   width: 100%;
   height: 100%;
}

.img{
    width: 100%;
}


.img2{
    width: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
    padding-top: 30%;
}
